.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  width: 5vmin;
  pointer-events: none;
}
.menu {
  height: 100vmin;
  background-color: #f0fff0;
}
.menu1 {
  height: 20vmin;
}
.App-header {
  background-color: #e6e6fa;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
